# Ignore node_modules in both backend and frontend
backend/node_modules/
frontend/node_modules/

# Ignore environment variables
backend/.env
frontend/.env

backend/utils/credentials.json
backend/db_config/proiecttic-74a0e-firebase-adminsdk-fbsvc-a110198b22.json

# Ignore build/dist folders
frontend/dist/

/node_modules
.env
db_config/*.json